{% extends 'base.html.twig' %}

    		
               {% block navigation %}
{% include 'AssuranceFrontBundle:Default:navigation.html.twig' %}
               {% endblock %}

{% block from %}
            <div class="col-md-3">
            <div class="form-group">
              <label for="country">Marque</label>
              <select class="form-control">
              <option>--</option>
              
              </select>
            </div>
            <div class="form-group">
              <label for="bedroom2">Cylindre</label>
              <select class="form-control">
              <option>--</option>
             
              </select>
            </div>
            </div>
            <!-- break -->
            <div class="col-md-3">
            <div class="form-group">
              <label for="location">Modele</label>
              <select class="form-control">
              <option>--</option>
              
              </select>
            </div>
            <div class="form-group">
              <label for="bathroom">Boit vitesse</label>
              <select class="form-control">
              <option>--</option>
              
              </select>
            </div>
            </div>
            <!-- break -->
            <div class="col-md-3">
            <div class="form-group">
              <label for="status2">Age</label>
              <select class="form-control">
              <option>--</option>
              </select>
            </div>
            <div class="form-group">
              <label for="minprice">Kilométrage par an</label>
              <select class="form-control">
              <option>--</option>
              
              </select>
            </div>
            </div>
            <!-- break -->
            <div class="col-md-3">
            <div class="form-group">
              <label for="type2">Volume moteur</label>
              <select class="form-control">
              <option>--</option>
              
              </select>
            </div>
            
            </div>
			  </br>
			  </br></br>
			  </br></br>
			  </br>
			 
            <div class="col-md-3"><input name="submit" value="Search" class="btn btn-success btn-lg btn-block" type="submit"></div>

          </form>

  </div></div>
  </div></div>

    </section>
	{% endblock %}
	{% block article %}
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="portfolio-categ filter">
            <li class="all active"><a href="#">Voir article</a></li>        
          </ul>
          <div class="clearfix">
          </div>
          <div class="row">
            <section id="projects">
            <ul id="thumbs" class="portfolio">
              {% for article in articles %}
              <li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
                <div class="thumbnail">
                  <img src="{{ asset('uploads/media') }}/{{ article.image }}" alt="{{ article.image }}" style="height:200px; width:200px">
                  <div class="caption">
                    <h4 style="color: #000;height:30px;">{{ article.titre }}</h4>
                    <p>{{ article.body[1:50] }}...<p>
                    <p><a href="{{ path('article', {'id':article.id})}}" class="btn btn-primary" role="button">Voir</a> </p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
    </div>
    <div class="col-md-6"><a href="#"><button type="button" class="btn btn-lg btn-default">voir plus d'articles</button></a></div>
  </section>
{% endblock %}

